/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 *= require bootstrap
 */

.post_box {
	max-width: 480px;
	margin: 5px 0px 50px 0px;
}

.post_box img {
	max-width: 100%;
}

.share_box {
	margin: 0 auto;
	margin-top: 10px;
	margin-bottom: 10px;
	text-align: center;
}

.share_button {
	width: 120px;
	height: 40px;
}

.logo {
	width: 50px;
}

.navbar-brand {
	height: auto !important;
	padding: 0px !important;
	vertical-align: middle;
	font-size: 2em !important;
}

.navbar {
	min-height: 0px !important;	
}

iframe {
	width: 100%;
}

body {
  min-height: 2000px;
  padding-top: 70px;
}